<div class="modal fade bs-example-modal-lg2" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
    <div class="cross" data-dismiss="modal">X</div>

    <h1 class="info_name">Digital Map</h1>
      <div class="row">
         <div class="col-md-6 info_text">
           Dit was een project voor school samen met één andere developer. We hebben in dit project een interactieve svg wereld kaart gemaakt. Ik heb mij voornamelijk bezig gehouden met de svg maken het was een totaal nieuwe techniek voor mij. Maar ik vond het leuk om mee te werken. De samenwerking tussen ons was super. <br><br>
              We hebben er voor gekozen om svg te gebruiken omdat elk land dan apart aanspreekbaar is.

           </div>
            <div class="col-md-6"><img class="infoImg projectPic" src="img/digitalmap.png"></div>
         </div>
         <br><div class="talen_text"> We hebben deze talen gebruikt:</div>
        
        <div id="talen">
            <img src="img/ajax.jpg">
            <img src="img/css.png">
            <img src="img/html.png">
            <img src="img/javascript.png">
            <img src="img/php.png">
            <img src="img/mysql.png">
        </div>
        <a href="https://github.com/siemdicou/map_app" target="_blank">
        <div class="btn btn-warning btn-lg">github</div></a>
        <a href="http://joeysteffens.com/projecten/map_app/" target="_blank">
        <div class="btn btn-primary btn-lg">Live site</div>
        </a>

    </div>
  </div>
</div>	
<!-- 3 -->
<div class="modal fade bs-example-modal-lg3" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
    <div class="cross" data-dismiss="modal">X</div>
    <h1 class="info_name">Daley</h1>
    <div class="row">
    <div class="col-md-6 info_text">Dit was een opdracht van een externe opdrachtgever voor school met een team van vijf. We hebben in dit project een promotie website gemaakt voor de dienst Daley. Ik heb mij voornamelijke bezig gehouden met de back-end van de website.<Br><br>Voor dit project hebben wij gebruik gemaakt van het bootstrap framework</div>
     <div class="col-md-6"><img class="infoImg projectPic" src="img/daley.png" ></div><br>
</div>
     <div class="talen_text"> We hebben deze talen gebruikt:</div>
        <div id="talen">
            <img src="img/ajax.jpg">
            <img src="img/css.png">
            <img src="img/html.png">
            <img src="img/javascript.png">
            <img src="img/php.png">
            <img src="img/mysql.png">
        </div>
        <a href="https://github.com/siemdicou/daley" target="_blank">
       <div class="btn btn-warning btn-lg">github</div></a>
        <a href="http://daley.flowda.nl/" target="_blank">
        <div class="btn btn-primary btn-lg">live site</div>
        </a>

    </div>
  </div>
</div> 

<!-- 4 -->
<div class="modal fade bs-example-modal-lg4" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
    <div class="cross" data-dismiss="modal">X</div>
    <h1 class="info_name">ACME</h1>
    <div class="col-md-6 info_text">Dit was een project voor school in mijn 1e leerjaar samen met één andere developer. In dit project moesten we een webshop bouwen. Het koopgedeelte van de website hoefde nog niet gerealiseerd te worden. Wel waren alle producten opgenomen in een database en opvraagbaar.<Br></div>
     <div class="col-md-6"><img class="infoImg projectPic" src="img/acme.png" ></div><br><div class="talen_text"> We hebben deze talen gebruikt:</div>
        <div id="talen">
            
            <img src="img/css.png">
            <img src="img/html.png">
            <img src="img/php.png">
            <img src="img/mysql.png">
        </div>
 <!--        <a href="https://github.com/siemdicou/stribble" target="_blank">
       <div class="btn btn-warning btn-lg">github</div></a> -->
        <a href="http://18363.hosts.ma-cloud.nl/acme/index.php" target="_blank">
        <div class="btn btn-primary btn-lg">Live site</div>
        </a>

    </div>
  </div>
</div> 
<!-- 5 -->
<div class="modal fade bs-example-modal-lg5" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
    <div class="cross" data-dismiss="modal">X</div>
    <h1 class="info_name">Raad van Kerken Hoorn</h1>
    <div class="col-md-6 info_text">Dit was een project voor de Raad van Kerken Hoorn. Het is een informatiewebsite dus technisch niveau was niet heel hoog. <Br> <br>Het was daar integen wel een goede front-end oefening voor voor mij.</div>
     <div class="col-md-6"><img class="infoImg projectPic" src="img/rvk.png" ></div><br><div class="talen_text"> Ik heb deze talen gebruikt:</div>
        <div id="talen">
            <img src="img/css.png">
            <img src="img/html.png">
        </div>
        <a href="http://www.raadvankerkenhoorn.org/" target="_blank">
        <div class="btn btn-primary btn-lg">Live site</div>
        </a>

    </div>
  </div>
</div> 

<!-- 6 -->
<div class="modal fade bs-example-modal-lg6" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
    <div class="cross" data-dismiss="modal">X</div>
    <h1 class="info_name">Menno Simons Fleas Wormerveer</h1>
    <div class="col-md-6 info_text">Dit is een opdracht van de stichting Menno Simons Flaes Wormerveer. Dit is een muziekstichting die maandelijks concerten organiseert. De website ging daarom ook vooral om informatie overbrengen.<Br>
    <Br>
    Dit project was een van mijn eerdere websites (voordat ik aan de opleiding begon) dus veel onderzoeken maar technisch niet zwaar.
    </div>
     <div class="col-md-6"><img class="infoImg projectPic" src="img/menno.png" ></div><br><div class="talen_text"> Ik heb deze talen gebruikt:</div>
        <div id="talen">
            <img src="img/css.png">
            <img src="img/html.png">
            <img src="img/javascript.png">          
        </div>
<!--         <a href="http://www.mennosimonsflaes.doopsgezind.nl/" target="_blank">
       <div class="btn btn-warning btn-lg">Github</div></a> -->
        <a href="http://www.mennosimonsflaes.doopsgezind.nl/" target="_blank">
        <div class="btn btn-primary btn-lg">Live site</div>
        </a>
    </div>
  </div>
</div> 
<!-- 7 -->
<div class="modal fade bs-example-modal-lg7" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
    <div class="cross" data-dismiss="modal">X</div>
    <h1 class="info_name">Remon van Gemeren</h1>
    <div class="col-md-6 info_text">Dit was mijn meest recente opdracht voor een klant. Het is een portfolio/informatie website voor de schrijver Remon van Gemeren. Ik heb gebruik gemaakt van bootstrap.</div>
     <div class="col-md-6"><img class="infoImg projectPic" src="img/remon.png" ></div><br><div class="talen_text"> Ik heb deze talen gebruikt:</div>
        <div id="talen">            
            <img src="img/css.png">
            <img src="img/html.png">                      
        </div>
<!--         <a href="https://github.com/siemdicou/stribble" target="_blank">
       <div class="btn btn-warning btn-lg">Github</div></a> -->
        <a href="http://remonvangemeren.nl/" target="_blank">
        <div class="btn btn-primary btn-lg">Live site</div>
        </a>

    </div>
  </div>
</div> 
<!-- 8 -->
<div class="modal fade bs-example-modal-lg8" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
    <div class="cross" data-dismiss="modal">X</div>
    <h1 class="info_name">Bert Dicou</h1>
    <div class="col-md-6 info_text">Dit was mijn meest recente opdracht voor een klant. Het is een portfolio/informatie website voor de schrijver Remon van Gemeren. Ik heb gebruik gemaakt van bootstrap.</div>
     <div class="col-md-6"><img class="infoImg projectPic" src="img/bertdicou.png" ></div><br><div class="talen_text"> Ik heb deze talen gebruikt:</div>
        <div id="talen">            
            <img src="img/css.png">
            <img src="img/html.png">
            <img src="img/javascript.png">                        
        </div>
<!--         <a href="https://github.com/siemdicou/stribble" target="_blank">
       <div class="btn btn-warning btn-lg">Github</div></a> -->
        <a href="https://bertdicou.com" target="_blank">
        <div class="btn btn-primary btn-lg">Live site</div>
        </a>

    </div>
  </div>
</div> 